#Ans.1

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
data = pd.Series([4,8,15,16,23,42])

In [4]:
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#Ans.2

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]

my_series = pd.Series(my_list)

In [6]:
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#Ans.3

In [18]:
data = {
    'Name' : ['Alice','Bob','Cla'],
    'Age' : [25,30,27],
    'Gender' : ['Female', 'Male' , 'Female'],
}

df = pd.DataFrame(data)

In [19]:
df

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2    Cla   27  Female

#Ans.4

In pandas, a DataFrame is a two-dimensional tabular data structure that consists of roes and columns, similar to a spreadsheet or a SQL table. Each columns in a DataFrame is a pandas Series, Which is a one-dimensional labeled array that can hold data of a single data type, such as integers , floats, or strings.


The main difference between a DataFrame and a Series is that a DataFrame can hold multiple columns of data, while a Series holds a single column of data. A Series also has one-demensional index, while a DataFrame has both row and column indices.

In [20]:
data1= {"Nmae": "Alice", "Age": 25, "Gender": "Female"}
pd.Series(data1)

Nmae       Alice
Age           25
Gender    Female
dtype: object

In [21]:
data2 = [
    {"Name": "Ayush" , "Age": 25, "Gender": "Male" },
    {"Name": "Preeti" , "Age": 23, "Gender": "Female" },
    {"Name": "Rashika" , "Age": 21, "Gender": "Female" }
]

df2 = pd.DataFrame(data2)

In [22]:
df2

      Name  Age  Gender
0    Ayush   25    Male
1   Preeti   23  Female
2  Rashika   21  Female

#Ans.5

There are many function available in Pandas that allow you to  manipulate data in a DataFrame.

1.)  'head()' and 'tail()': These function are used to view the first or last few rows od a DataFrame,respectively. For example you  might use'df.head()' to quickly check the first few rows of large DataFrame to make sure the data is formatted correctly.

2.) 'describe()': This function generates a statistical summary of the DataFrame, including count, mean, standard devision, minimum, maximum. and quartile values for each numeric column. for example, you might use and quartile values for each numeric column. For example, you might use 'df.describe()' to quickly get an overview of the range and distribution of values in a numeric column.


3.) 'sort_values()': This function sorts the DataFrame by one or more columns. for example , you might use 'df.sort_values("Age")' to sort the DataFrame by the Age columns in ascending order.


4.) 'dropna': Drops any rows that contain missing values.

5.) 'fillna(value)': Fills missing values in the DataFrame with specified value.

6.)'groupby': Group the DataFrames based on a specified key column.

#Ans.6

In Pandas, 'Series' and 'DataFrame' are mutable, where as 'Panel' is considered deprecated and no longer recommended for use.

A 'Series' is a one-dimensional array-like object that can hold any data type, such as integers, floats, or strings. you can modify a 'Series' object by changing the values of its elements, adding removing elements, or appending elements to it.

A 'DataFrame' is a two-dimensional tabular data structure that consists of rows and columns, similar to a spreadsheet or SQL table. you can modify a 'DataFrame' object by changing the values of its cells, adding or removing columns or rows, or appending new rows to it

#Ans.7

In Pandas, you can create a 'DataFrame' using multiple 'Series' object. A 'Series' is a one-dimensional array-like object that can hold any data type, such as integers, Floats, or strings. A 'DataFrame' is a two=dimensional tabular data structure that consists of rows and columns, similar to a spreadsheet or SQL table.

In [3]:
data1 = {
    'Name': ['Ayush','Vinod','Preeti'],
    'Age': [25, 29, 23],
    'Gender': ['Male', 'Male', 'Female'],
}

df4 = pd.DataFrame(data1)

In [4]:
df4

     Name  Age  Gender
0   Ayush   25    Male
1   Vinod   29    Male
2  Preeti   23  Female